# Launch settings is meant to be persisted in ASP .NET Core applications.
# This is due to how certain configurations catered for each environment need to 
# persist for consistency. 
# The migrator application however is CLI tool for database migrations which does 
# not need any special application environment catering, i.e. 
# development, production, and staging. 
# Relying on environment variables and user secrets can be combersome as it makes 
# the CLI tool more difficult to use and possibly make it more prone to errors. 
# As a result, only program arguments are used. Since arguments tend to include 
# sensitive information relating to database connections/migrations, it is preferable 
# to ignore the launch settings file for security purposes. 
Properties/launchSettings.json